In [2]:
import pandas as pd

# Load raw patients data
df = pd.read_csv("../data/raw/patients.csv")

# Preview the data
df.head()

,patient_id,first_name,last_name,gender,date_of_birth,email
0,1,Trumann,Chasmoor,Male,1986-08-12,tchasmoor0@unblog.fr
1,2,Kyle,Easton,Female,1965-02-10,keaston1@gizmodo.com
2,3,Ardelia,Drohun,Female,2013-12-16,adrohun2@ted.com
3,4,Haze,Brittles,Genderfluid,1976-05-12,hbrittles3@flavors.me
4,5,Clementia,Grigaut,Female,1951-02-12,cgrigaut4@dell.com

# Check for Missing Values

In [7]:
df.isnull().sum()

patient_id       0
first_name       0
last_name        0
gender           0
date_of_birth    0
email            0
dtype: int64

# Drop Duplicates (if any)

In [12]:
df.drop_duplicates(inplace=True)

# Format Birth_date Column

In [18]:
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'])

# Check Data Types

In [21]:
df.dtypes

patient_id                int64
first_name               object
last_name                object
gender                   object
date_of_birth    datetime64[ns]
email                    object
dtype: object

# Preview Cleaned Data

In [24]:
df.head()

,patient_id,first_name,last_name,gender,date_of_birth,email
0,1,Trumann,Chasmoor,Male,1986-08-12,tchasmoor0@unblog.fr
1,2,Kyle,Easton,Female,1965-02-10,keaston1@gizmodo.com
2,3,Ardelia,Drohun,Female,2013-12-16,adrohun2@ted.com
3,4,Haze,Brittles,Genderfluid,1976-05-12,hbrittles3@flavors.me
4,5,Clementia,Grigaut,Female,1951-02-12,cgrigaut4@dell.com

# Save Cleaned Data

In [27]:
df.to_csv("../data/cleaned/patients_cleaned.csv", index=False)
print("✅ Cleaned patients.csv saved successfully.")

✅ Cleaned patients.csv saved successfully.