In [2]:
import pandas as pd

# Load Integrated Dataset

In [5]:
df = pd.read_csv("../data/cleaned/final_dataset.csv")
print("Data loaded successfully!")

Data loaded successfully!

# Show Basic Info

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   visit_id            1000 non-null   int64
 1   patient_id          1000 non-null   int64
 2   doctor_id           1000 non-null   int64
 3   visit_date          1000 non-null   object
 4   reason              1000 non-null   object
 5   diagnosis           1000 non-null   object
 6   prescription        1000 non-null   object
 7   cost                1000 non-null   int64
 8   first_name          1000 non-null   object
 9   last_name           1000 non-null   object
 10  gender              1000 non-null   object
 11  date_of_birth       1000 non-null   object
 12  email               1000 non-null   object
 13  name                1000 non-null   object
 14  specialization      1000 non-null   object
 15  billing_id          1000 non-null   int64
 16  insurance_provider  1000 non-null   object
 17  amount_paid         1000 non-null   float64
 18  payment_date        1000 non-null   object
dtypes: float64(1), int64(5), object(13)
memory usage: 148.6+ KB

# Check for any Null Values

In [18]:
nulls = df.isnull().sum()
print("Null values by column:\n", nulls)

Null values by column:
 visit_id              0
patient_id            0
doctor_id             0
visit_date            0
reason                0
diagnosis             0
prescription          0
cost                  0
first_name            0
last_name             0
gender                0
date_of_birth         0
email                 0
name                  0
specialization        0
billing_id            0
insurance_provider    0
amount_paid           0
payment_date          0
dtype: int64

# Confirm Data Types

In [15]:
print("Data types:\n", df.dtypes)

Data types:
 visit_id                int64
patient_id              int64
doctor_id               int64
visit_date             object
reason                 object
diagnosis              object
prescription           object
cost                    int64
first_name             object
last_name              object
gender                 object
date_of_birth          object
email                  object
name                   object
specialization         object
billing_id              int64
insurance_provider     object
amount_paid           float64
payment_date           object
dtype: object

# Check If any Billing Amounts are Suspicious

In [22]:
print("Amount paid summary:\n", df['amount_paid'].describe())
print("Payments < 0:\n", df[df['amount_paid'] < 0])

Amount paid summary:
 count    1000.000000
mean     2270.649060
std      1313.595331
min        96.440000
25%      1106.710000
50%      2294.725000
75%      3386.227500
max      4948.270000
Name: amount_paid, dtype: float64
Payments < 0:
 Empty DataFrame
Columns: [visit_id, patient_id, doctor_id, visit_date, reason, diagnosis, prescription, cost, first_name, last_name, gender, date_of_birth, email, name, specialization, billing_id, insurance_provider, amount_paid, payment_date]
Index: []

# Check Unique visit IDs vs billing

In [25]:
print("Unique visit_id in visits:", df['visit_id'].nunique())
print("Unique billing entries:", df['billing_id'].nunique())

Unique visit_id in visits: 1000
Unique billing entries: 1000

# Check for Duplicate Rows

In [28]:
duplicates = df.duplicated().sum()
print(f"Duplicate records: {duplicates}")

Duplicate records: 0

# Save Validation Summary Report

In [33]:
df.describe().to_csv("../logs/validation_summary.csv")
print("Summary exported")

Summary exported