In [2]:
import pandas as pd

# Load visits data
visits_df = pd.read_csv("../data/raw/visits.csv")

# Preview the data
visits_df.head()

,visit_id,patient_id,doctor_id,visit_date,reason,diagnosis,prescription,cost
0,1,97,41,10/15/2022,Injury treatment,Asthma,Increase dosage,441
1,2,134,40,9/28/2024,Chest pain,Flu,Referred to specialist,877
2,3,323,2,3/20/2023,Back pain,Allergy,Recommended physiotherapy,4157
3,4,457,21,12/28/2023,High blood pressure,Injury,Referred to specialist,4466
4,5,421,41,6/24/2025,Diabetes management,Flu,Advised MRI scan,4014

# Check Missing Values

In [6]:
visits_df.isnull().sum()

visit_id        0
patient_id      0
doctor_id       0
visit_date      0
reason          0
diagnosis       0
prescription    0
cost            0
dtype: int64

# Drop Duplicates

In [10]:
visits_df.drop_duplicates(inplace=True)

# Convert visit_date to Datetime

In [12]:
visits_df['visit_date'] = pd.to_datetime(visits_df['visit_date'])

# Clean Text Columns (Should be in English)

In [16]:
visits_df[['reason', 'prescription']].sample(5)

              reason            prescription
759     Flu symptoms     Blood test required
359     Flu symptoms     Blood test required
421         Headache  Pain relief medication
823  Routine Checkup           Start insulin
285  Follow-up visit        Advised MRI scan

# Format Cost Column

In [19]:
visits_df['cost'] = pd.to_numeric(visits_df['cost'], errors='coerce')

In [21]:
visits_df['cost'].describe()

count    1000.000000
mean     2522.225000
std      1447.632005
min       103.000000
25%      1233.000000
50%      2578.500000
75%      3795.000000
max      4994.000000
Name: cost, dtype: float64

# Save the Cleaned File

In [26]:
visits_df.to_csv("../data/cleaned/visits_cleaned.csv", index=False)
print("Cleaned visits.csv saved.")

Cleaned visits.csv saved.