In [2]:
import pandas as pd

# Load billing data
billing_df = pd.read_csv("../data/raw/billing.csv")

# Preview it
billing_df.head()

   billing_id  visit_id insurance_provider  amount_paid payment_date
0           1         1         Blue Cross       405.85   2022-10-30
1           2         2      United Health       736.87   2024-10-03
2           3         3              Cigna      3923.57   2023-04-01
3           4         4              Aetna      3836.85   2024-01-23
4           5         5           Self-Pay      3252.24   2025-07-12

# Check for Nulls and Duplicates

In [5]:
billing_df.isnull().sum()
billing_df.duplicated().sum()

0

# Convert payment_date to Datetime

In [10]:
billing_df['payment_date'] = pd.to_datetime(billing_df['payment_date'])

# Ensure amount_paid is Numeric

In [13]:
billing_df['amount_paid'] = pd.to_numeric(billing_df['amount_paid'], errors='coerce')
billing_df['amount_paid'].describe()

count    1000.000000
mean     2270.649060
std      1313.595331
min        96.440000
25%      1106.710000
50%      2294.725000
75%      3386.227500
max      4948.270000
Name: amount_paid, dtype: float64

# Save the Cleaned File

In [16]:
billing_df.to_csv("../data/cleaned/billing_cleaned.csv", index=False)
print("Cleaned billing.csv saved successfully.")

Cleaned billing.csv saved successfully.